/* พื้นหลังและฟอนต์ */
body {
    background: linear-gradient(135deg, #ffc5c5, #ffc5c5);
    color: #000000;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 40px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* หน้าเริ่มต้น */
#intro-area {
    margin-top: 50px;
    animation: fadeIn 1s ease-in-out;
}

#intro-area h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

/* Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px #ffffff;
    width: 300px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.popup.hidden {
    display: none;
}

.popup-content img {
    width: 100px;
    margin-bottom: 10px;
}

.popup-content p {
    margin: 10px 0;
}

/* การ์ด */
.card-back {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-back:hover {
    transform: scale(1.1);
}

/* ปุ่ม */
.btn {
    background: linear-gradient(45deg, #c7c7c7, #c7c7c7);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: linear-gradient(45deg, #c7c7c7, #c7c7c7);
    transform: scale(1.1);
}

/* พื้นที่ประวัติ */
#history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.history-card {
    width: 50px;
    margin: 5px;
    transition: transform 0.2s;
}

.history-card:hover {
    transform: scale(1.2);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}